* {
    margin: 0;
    padding: 0;
  
}
#welcome{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(143, 45, 163);
    color: rgb(83, 26, 79);
}




#header {
    display: flex;
    justify-content: center;
    background-color: rgb(143, 45, 163);
    flex-wrap: wrap;
    padding-bottom: 40px;
  
 
    margin: 0; 
}

#container {
    
    display: flex;
    justify-content: center;
    border: 1px solid rgb(7, 7, 7); 
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
    border-style: dashed;
    box-shadow: 5px 5px 40px rgb(107, 19, 124);
    margin-top: 30px; /* Adds a small space between header and container */
}

.mydiv {
    flex-wrap: wrap;
    width: calc(100% / 16); 
    height: calc(100% / 16); 
    transition: background-color 0.3s ease; 
  
}
