

#container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 0, 0); 
    width: 1000px;
    height: 1000px;
    flex-wrap: wrap;
}

#header{

    display: flex;
    
    justify-content: center;
    background-color: rgb(21, 102, 75);
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
}

.mydiv {
    width: calc(100% / 16); 
    height: calc(100% / 16); 
   
    transition: background-color 0.3s ease; 
    
}

